@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@{
    Model.LoadToPhilosophy();
}
<p>@Model.ToPhilosophy.Count</p>
@foreach (var item in Model.ToPhilosophy)
{
    <p>@item.Key</p>
}
