@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@{
    using (var db = new WikiDbContext()) 
    {
        var selectedData = db.Query("select count(*), cl_to from Categorylinks group by ClTo having count(*) > 100000");
    }
    var grid = new WebGrid(source: selectedData);
}

