@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Statistics</h1>

<div>
    <h3>Philosophy</h3>
    <h5>Average Depth</h5>
    <h5>Number of Paths (Percentage of Total)</h5>
    
</div>