@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Statistics</h1>

<div>
    <h3>Philosophy (Featured Pages)</h3>
    <h5>Average Depth - 14</h5>
    <h5>Number of Paths - 10,657</h5>
    
</div>