@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Statistics</h1>

<div>
    <h3>Philosophy (Featured Pages)</h3>
    <h5>Average Depth - 11.11</h5>
    <h5>Number of Pages Touched - 10,830</h5>
    <h5>Number of Pages in Loop - 3,894</h5>

    <p>I learned that data mining is a lot harder than it looks.
        Wikipedia has about 13,000,000 pages in its regular
        English namespace. That's a lot to parse, and a huge amount to do 
        recursion over. So I limited myself to just their featured articles.</p> </div>